* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

body {
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, rgba(128, 128, 128, 0.08) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(128, 128, 128, 0.08) 1px, transparent 1px);
  }

header {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15%;
    border-bottom: 1px solid black;
    position: fixed;
    background-color: white;
    z-index: 999;
}

header h1 {
    font-family: "Montserrat", sans-serif;
    white-space: nowrap;
}

header nav a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: black;
}

header nav {
    
    display: flex;
    gap: 4rem;
}

main {
    padding: 0 15%;
    /* padding-top: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.lineone, .linetwo {
    text-align: center;
    width: 100%;
    display: flex;
    
    align-items: center;
}

.lineone p {
    margin-left: 30px;
    white-space: nowrap;
}

#viewworkf, #viewcontactf {
    display: none;
}



.linetwo p {
    margin-right: 30px;
}

.intro p {
    font-size: 9vw;
}

.intro {
    width: 100%;
}

main .intro img {
    flex: 1;
    height: 9vw;
    object-fit: cover;
    border-radius: 50px;
}

.aboutme {
    width: 100%;
}

.introsummary {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    position: absolute;
    top: 89vh;
    margin: 0 15%;
}

.summary {
    margin-top: 5%;
    font-size: 4rem;
    line-height: 1.5;
}


button {
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white;
    display: block;
    white-space: nowrap;
}

button:hover {
    cursor: pointer;
}

.introsummary button {
    margin: 5% 0;
    width: 100%;
    margin-top: 5vh;
    padding: 20px 40px;
    font-size: 1.5rem;
    text-align: center;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

a button {
    color: black;
}

a h1 {
    color: black;
}

#viewportf, #viewworkf, #viewcontactf {
    color: black;
}

a:visited {
    color: black;
}

.gallery {
    margin-top: 60px;
}

.gallery-item img {
    width: 300px;
    padding: 5px;
}

iframe {
    padding: 0 15%;
    width: 100%;
    height: 100vh;
    padding-top: 60px;
    white-space: nowrap;
}

@media screen and (max-width: 960px) {
    .intro p {
        font-size: 11vw;
    }
    main .intro img {
        height: 11vw;
    }

    .lineone p {
        margin-left: 16px;
    }

    .linetwo p {
        margin-right: 16px;
    }

    .introsummary p {
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 840px) {
    .introsummary {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .navigation button {
        width: 70%;
    }
    
    .intro p {
        font-size: 11vw;
    }
    main .intro img {
        height: 11vw;
    }

    header nav {
        display: none;
    }

    #viewworkf, #viewcontactf {
        display: block;
        margin-top: 3px;
    }

    .introsummary p {
        font-size: 2.7rem;
    }
    
}

@media screen and (max-width: 700px) {
    main {
        padding: 0 12%;
    }

    iframe {
        padding: 0 5%;
        padding-top: 60px;
    }

    header {
        padding: 0 8%;
    }
    
    .navigation {
        gap: 0.00001rem;
    }

    .intro p {
        font-size: 10vw;
        
    }
    main .intro img {
        height: 10vw;
    }
    .summary {
        font-size: 3rem;
    }


    .introsummary button {
        font-size: 1.2rem;
        padding: 10px 20px;
    }

    .lineone p {
        margin-left: 15px;
    }
    .linetwo p {
        margin-right: 15px;
    }
}

@media screen and (max-width: 579px){
    main {
        height: 70vh;
    }

    .introsummary {
        top: 60vh;
    }
    .intro p {
        font-size: 12vw;
    }

    .lineone p {
        display: flex;
        margin-left: 6px;
    }

    .linetwo p {
        margin-right: 6px;
    }
    main .intro img {
        height: 12vw;
    }

    .navigation button{
        width: 70%;
    }

    .summary {
        font-size: 1.7rem;
    }

    .introsummary p {
        padding: 0 12%;
        font-size: 1.7rem;
    }
    iframe {
        padding: 0;
        padding-top: 60px;
    }
}

@media screen and (max-height: 710px){
    .intro {
        margin-top: 40px;
    }
}